@charset "utf-8";

/*header start*/
	header{}
	header .utilWrap{border-bottom: 1px solid #ccc;height: 30px;}
	header .utilMenu{width: 980px;margin: 0 auto;}
	header .utilMenu ul{float:right;}
	header .utilMenu ul .util{float: left;position: relative;}
	header .utilMenu ul .util:after{content:"";display: block;width: 1px;height: 15px;background:#ccc;position: absolute;top: 7px;right: 0px;}
	header .utilMenu ul .util a{display: block;padding: 0 10px;line-height: 30px;margin-right: 1px;}
	header .utilMenu ul .util a:hover{background: #1d5da4;color:white;}

	header .logo{height: 70px;}
	header .logo h1{text-align: center;line-height: 70px;}

	header .navWrap{height: 40px;background:#1d5da4;}
	header .navWrap .navMenu{width: 980px;margin: 0 auto;}
	header .navWrap .navMenu .nav{float: left;width: 163.33px;box-sizing: border-box;
		border-right: 1px solid #fff;;}
	header .navWrap .navMenu .nav:first-child{border-left: 1px solid #fff;}
	header .navWrap .navMenu .nav a{display: block;color:white;font-size: 15px;line-height: 40px;text-align: center;font-weight: bold;}
	header .navWrap .navMenu .nav a:hover{background: #1d5dd1;}
/*header end*/

/*slider start*/
	.slider_Wrap{}
	.slider_Wrap .main_slider{}
	.slider_Wrap .main_slider li{height:400px;overflow:hidden;background-image: url(../images/main_bg01.jpg);background-repeat: no-repeat;background-position: center;background-size: cover;}
	.slider_Wrap .main_slider li div{width: 980px;margin: 0 auto;position: relative;}
	.slider_Wrap .main_slider li div .mainsliderimg{position: absolute;	right:-50px;top:-10px;}
	.slider_Wrap .main_slider li div .mainslidertxt{position: absolute;	left: 10px;top:70px;}

	.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;
}

.bx-wrapper .bx-next {display: none;
}
.bx-wrapper .bx-prev {display: none;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 50px;
    width: 100%;
    left:-380px;

}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    text-indent: -9999px;
    display: block;
    width: 60px;
    height: 5px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background:rgb(14,31,118);
}
/*slider end*/