@charset "utf-8";
	body{min-width: 1920px;}

	h1{font-size: 20px;}
/*header시작*/
	#header{z-index: 1;padding-top: 10px;padding-bottom: 10px;position:relative;height: 73px;width: 1300px;margin: 0 auto;_background: red;top:0;}
	.headerWrap{_background:pink;position: absolute;height: 53px;width: 1300px;}
	

	.headerWrap h1{float: left;}

	.headerWrap .topMenu{float: right;line-height: 45px;margin-top:18px;margin-right:-180px;}
	.headerWrap .topMenu>ul{}
	.headerWrap .topMenu>ul>li{float: left;position: relative;width: 110px;height: 45px;}
	.headerWrap .topMenu>ul:hover .subMenu{display: block;}
	.headerWrap .topMenu>ul>li>a{display: block;font-size: 15px;font-weight: bold;text-align: center;}
	.headerWrap .topMenu>ul>li:hover a{color:white;}
	.headerWrap .topMenu>ul>li:hover{background: #FF4D00; transition: 0.3s;}
	.headerWrap .topMenu>ul>li:hover .subMenu>li>a{color:white;}

	.subMenu{z-index: 2;display: none;width: 110px;height:1000%;position: absolute;background: #FF4D00;}
	.subMenu li{}
	.subMenu>li>a{display: block;font-size:12px;text-align: center;color:white;height: 37px;padding-bottom: 10px;}
	.subMenu>li>a:hover{border-bottom: 1px solid #fff;}

	.utilWrap{float: right;}
	.utilMenu{}
	.utilMenu ul{}
	.utilMenu ul li{float: left;position: relative;width:60px;height:13px;top:-4px;}
	.utilMenu ul li:after{content:"";display: block;width: 1px;height: 17px;background:#ddd;position: absolute;top: 2px;right: 0px;}
	.utilMenu ul li a{text-align:center;font-size:10px;display: block;line-height: 20px;margin-right: 1px;}
	.utilMenu ul li a:hover{background: #ddd;}
/*header끝*/

/*slider시작*/
	.slider_Wrap{height:450px;position: relative;}
	.slider_Wrap li{height:450px;background-repeat: no-repeat;background-position: center;background-size: cover;}
	.slider_Wrap li.slider_1st{background-image: url(../images/bx1.jpg);}
	.slider_Wrap li.slider_2st{background-image: url(../images/bx2.jpg);}
	.slider_Wrap li.slider_3st{background-image: url(../images/bx3.jpg);}
	.slider_Wrap li.slider_4st{background-image: url(../images/bx4.jpg);}
	.slider_Wrap h1{text-indent: -9999px;}
	.slider_Wrap .bx-wrapper {-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;border: 0 none;margin-bottom: 0;}
	.bx-wrapper .bx-pager.bx-default-pager a {
    background: #FF4D00;
    text-indent: -9999px;
    display: block;
    width: 30px;
    height: 7px;
    outline: 0;}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 30px;
    width: 100%;
    border-radius: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: white;
}
/*slider끝*/

/*content시작*/
	.content{width: 1300px;height: 940px;_background: #000;margin: 0 auto;padding-top: 20px;}
	.content>ul{}
	.content>ul>li{float: left;}

	/*컨테이너 설정*/
	.ct1st{height: 300px;width: 860px;margin-right: 20px;
			position: relative;}
	.ct2st{height: 300px;width: 420px;background: #FF4D00;
			position: relative;padding: 20px 10px;}
	.ct3st{height:620px;width: 420px;margin-right: 20px;margin-top: 20px;background: red;
			}
	.ct4st{height: 300px;width: 860px;background: pink;margin-top: 20px;
			}
	.ct5st{height: 300px;width: 420px;margin-right: 20px;margin-top: 20px;background: red;
			}
	.ct6st{height: 300px;width: 420px;background: pink;margin-top: 20px;
			}
	/*컨테이너별 세부 사항*/
	.ct1st{}
	.ct1st .txt{padding: 20px 10px;float: right;height: 300px;width: 461px;}
	.ct1st .txt h1{color:white;text-align: center;}
	.ct1st .txt a{}
	.ch_one{background-image: url(../images/창호/1.jpg);}
	.ch_two{background-image: url(../images/창호/2.jpg);}
	.ch_three{background-image: url(../images/창호/3.jpg);}
	.ch_four{background-image: url(../images/창호/4.jpg);}
	.ch_five{background-image: url(../images/창호/5.jpg);}
	.ch_six{background-image: url(../images/창호/6.jpg);}
	.ch_seven{background-image: url(../images/창호/7.jpg);}
	.ch_nine{background-image: url(../images/창호/8.jpg);}
	.ch_ten{background-image: url(../images/창호/9.jpg);}
	h3{}
	.slider{width: 420px;height: 300px;}
	.slider li.promote{background-repeat: no-repeat;background-position: left;background-size: cover;}
	.ct1st .btn{position: absolute;bottom: 20px;left: 213px;width: 76px;}
	.ct1st .btn img{padding: 7px;width: 30px;height: 30px;float: left;border: 1px solid #fff;}
	.bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow: none;
    box-shadow:none;
    border:none;
    background: none;
}
	
	.ct2st{}
	.ct2st h1{}
	.ct2st h1 a{display:block;color:white;text-align: center;}
	.ct2st ul{}
	.ct2st ul li{width: 103px;height: 30px;float: left;margin: 15px;;text-align: center;}
	.ct2st ul li a{border: 1px solid white;display: block;font-size: 13px;color:white;line-height: 29px;}
	.ct2st ul li:hover {background:white; transition:0.3s;}
	.ct2st ul a:hover {color:black;}
	.ct2st .right:after {
    content: "";
    display: block;
    border-width: 30px;
    border-style: solid;
    border-color: transparent transparent transparent #FF4D00;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    left: -50px;

}

	.ct3st
	.ct4st
	.ct5st
	.ct6st

/*content끝*/
	footer{}
	footer>div{background: #ddd;height: 210px;margin-top: 40px;}
/*footer시작*/

/*footer끝*/
	